1. № вар - 3
2. Діапазон (від) - 717
3. Діапазон (до, включаючи) - 485
4. N1 - 5
5. N2 - 52
6. M1 - 10
7. M2 - 46

# Завдання 1

1. Створіть та виведіть Series (ds1) з 15 елементів на основі списку: [“Bob”, “Emma”, “Joe”, “Lili”...], використовуючи Pandas-модуль.

In [1]:
import pandas as pd
import numpy as np

In [2]:

ds1 = ["Bob", "Emma", "Joe", "Lili", "Bibi",
       "Bob1", "Emma1", "Joe1", "Lili1", "Bibi1",
       "Bob2", "Emma2", "Joe2", "Lili2", "Bibi2" ]

ser = pd.Series(ds1)
ser

0       Bob
1      Emma
2       Joe
3      Lili
4      Bibi
5      Bob1
6     Emma1
7      Joe1
8     Lili1
9     Bibi1
10     Bob2
11    Emma2
12     Joe2
13    Lili2
14    Bibi2
dtype: object

2. Перевірте та виведіть його тип.

In [3]:
print(ser.dtype)

object

3. Вивести окремо значення Series та набір індексів.

In [4]:
ser.index

RangeIndex(start=0, stop=15, step=1)

In [5]:
ser.values

array(['Bob', 'Emma', 'Joe', 'Lili', 'Bibi', 'Bob1', 'Emma1', 'Joe1',
       'Lili1', 'Bibi1', 'Bob2', 'Emma2', 'Joe2', 'Lili2', 'Bibi2'],
      dtype=object)

4. Вивести 2 перші рядки ds1

In [6]:
print(ser[:2])

0     Bob
1    Emma
dtype: object

5. Вивести непарні рядки ds1 у діапазоні з 3 по 9 рядок.

In [7]:
print(ser[3:10:2])

3     Lili
5     Bob1
7     Joe1
9    Bibi1
dtype: object

6. Перетворити словник (створити попередньо згідно з рис.) custom_info
(зберігає інформацію про тривалість дзвінків клієнта в роумінгу) у Series:

In [8]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May']
duration = [125, 234, 13, 356, 87]
custom_info = pd.Series(duration, index=months)
custom_info

Jan    125
Feb    234
Mar     13
Apr    356
May     87
dtype: int64

7. Використовуючи позначки індексу, виведіть (одним оператором) всі
тривалості розмов у весняні місяці.

In [9]:
custom_info.loc[['Mar', 'Apr', 'May']]

Mar     13
Apr    356
May     87
dtype: int64

8. Припустимо, що ви отримали наступний список із назвами місяців
m_names=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'].

In [10]:
m_names=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']

Створіть pd.Series custom_info_new, базуючись на наборі даних custom_info та
списку m_names (для позначок індексів).

In [11]:
custom_info_new = custom_info.reindex(m_names)
custom_info_new

Jan    125.0
Feb    234.0
Mar     13.0
Apr    356.0
May     87.0
Jun      NaN
Jul      NaN
dtype: float64

9. Виявіть пропущені дані (missing values) у custom_info_new.

In [12]:
print(custom_info_new.isna())

Jan    False
Feb    False
Mar    False
Apr    False
May    False
Jun     True
Jul     True
dtype: bool

10.Ведіть дані з березня до травня, використовуючи зрізи.

In [13]:
print(custom_info_new[2:5])

Mar     13.0
Apr    356.0
May     87.0
dtype: float64

11.Введіть рядки (з custom_info_new), де тривалість дзвінка <100.

In [14]:
mask = custom_info_new < 100
print(custom_info_new[mask])

Mar    13.0
May    87.0
dtype: float64

12.Помножити дані із тривалістю дзвінка <200 на 5.

In [15]:
mask = custom_info_new < 200
custom_info_new[mask] = custom_info_new[mask] * 5
print(custom_info_new)

Jan    625.0
Feb    234.0
Mar     65.0
Apr    356.0
May    435.0
Jun      NaN
Jul      NaN
dtype: float64

# Завдання 2

Використовуючи відповідні методи об’єктів Series та DataFrame
бібліотеки Pandas реалізувати завдання:

Файл “pokemon.csv” зберігає дані про 7 поколінь всіх 802 покемонів.
Детальна інформація про даний Dataset доступна за посиланням
https://www.kaggle.com/rounakbanik/pokemon/home

1. Використовуючи функцію pd.read_csv прочитати з файлу відповідну
частину стовбців name, generation, type1, type2, hp, speed, sp_attack,
sp_defense (діапазон строк задається по варіанту студента, див. Додаток
A) у DataFrame pokemon. Стовбець abilities перетворити у 2 стовбця
abilities1, abilities2, розподілити значення відповідно.

In [16]:
cols = ['name', 'generation', 'type1', 'type2', 'hp', 'speed', 'sp_attack', 'sp_defense', 'abilities']

pokemon = pd.read_csv('pokemon.csv', usecols=cols)
pokemon = pokemon.iloc[485:718]

abilities = pokemon['abilities'].str.split(',', n=2, expand=True)

abilities.columns = ['abilities1', 'abilities2', 'abilities3']

abilities = abilities.apply(lambda x: x.str.strip())

pokemon = pd.concat([pokemon.drop(columns='abilities'), abilities], axis=1)
pokemon

,hp,name,sp_attack,sp_defense,speed,type1,type2,generation,abilities1,abilities2,abilities3
485,110,Regigigas,80,110,100,normal,NaN,4,['Slow Start'],None,None
486,150,Giratina,120,100,90,ghost,dragon,4,['Pressure','Telepathy','Levitate']
487,120,Cresselia,75,130,85,psychic,NaN,4,['Levitate'],None,None
488,80,Phione,80,80,80,water,NaN,4,['Hydration'],None,None
489,100,Manaphy,100,100,100,water,NaN,4,['Hydration'],None,None
...,...,...,...,...,...,...,...,...,...,...,...
713,40,Noibat,45,40,55,flying,dragon,6,['Frisk','Infiltrator','Telepathy']
714,85,Noivern,97,80,123,flying,dragon,6,['Frisk','Infiltrator','Telepathy']
715,126,Xerneas,131,98,99,fairy,NaN,6,['Fairy Aura'],None,None
716,126,Yveltal,131,98,99,dark,flying,6,['Dark Aura'],None,None
717,216,Zygarde,91,95,85,dragon,ground,6,['Aura Break','Power Construct'],None

2. Вивести індекси та мітки стовбців з утвореного у п.1. DataFrame
pokemon.

In [17]:
pokemon.index

RangeIndex(start=485, stop=718, step=1)

In [18]:
pokemon.columns

Index(['hp', 'name', 'sp_attack', 'sp_defense', 'speed', 'type1', 'type2',
       'generation', 'abilities1', 'abilities2', 'abilities3'],
      dtype='object')

3. Вивести значення строк з N1 по N2 відповідно варіанту завдання (див.
Додаток A).

In [19]:
pokemon.iloc[5:52]

,hp,name,sp_attack,sp_defense,speed,type1,type2,generation,abilities1,abilities2,abilities3
490,70,Darkrai,135,90,125,dark,NaN,4,['Bad Dreams'],None,None
491,100,Shaymin,120,75,127,grass,grass,4,['Natural Cure','Serene Grace'],None
492,120,Arceus,120,120,120,normal,NaN,4,['Multitype'],None,None
493,100,Victini,100,100,100,psychic,fire,5,['Victory Star'],None,None
494,45,Snivy,45,55,63,grass,NaN,5,['Overgrow','Contrary'],None
495,60,Servine,60,75,83,grass,NaN,5,['Overgrow','Contrary'],None
496,75,Serperior,75,95,113,grass,NaN,5,['Overgrow','Contrary'],None
497,65,Tepig,45,45,45,fire,NaN,5,['Blaze','Thick Fat'],None
498,90,Pignite,70,55,55,fire,fighting,5,['Blaze','Thick Fat'],None
499,110,Emboar,100,65,65,fire,fighting,5,['Blaze','Reckless'],None
500,55,Oshawott,63,45,45,water,NaN,5,['Torrent','Shell Armor'],None
501,75,Dewott,83,60,60,water,NaN,5,['Torrent','Shell Armor'],None
502,95,Samurott,108,70,70,water,NaN,5,['Torrent','Shell Armor'],None
503,45,Patrat,35,39,42,normal,NaN,5,['Run Away','Keen Eye','Analytic']
504,60,Watchog,60,69,77,normal,NaN,5,['Illuminate','Keen Eye','Analytic']
505,45,Lillipup,25,45,55,normal,NaN,5,['Vital Spirit','Pickup','Run Away']
506,65,Herdier,35,65,60,normal,NaN,5,['Intimidate','Sand Rush','Scrappy']
507,85,Stoutland,45,90,80,normal,NaN,5,['Intimidate','Sand Rush','Scrappy']
508,41,Purrloin,50,37,66,dark,NaN,5,['Limber','Unburden','Prankster']
509,64,Liepard,88,50,106,dark,NaN,5,['Limber','Unburden','Prankster']
510,50,Pansage,53,48,64,grass,NaN,5,['Gluttony','Overgrow'],None
511,75,Simisage,98,63,101,grass,NaN,5,['Gluttony','Overgrow'],None
512,50,Pansear,53,48,64,fire,NaN,5,['Gluttony','Blaze'],None
513,75,Simisear,98,63,101,fire,NaN,5,['Gluttony','Blaze'],None
514,50,Panpour,53,48,64,water,NaN,5,['Gluttony','Torrent'],None
515,75,Simipour,98,63,101,water,NaN,5,['Gluttony','Torrent'],None
516,76,Munna,67,55,24,psychic,NaN,5,['Forewarn','Synchronize','Telepathy']
517,116,Musharna,107,95,29,psychic,NaN,5,['Forewarn','Synchronize','Telepathy']
518,50,Pidove,36,30,43,normal,flying,5,['Big Pecks','Super Luck','Rivalry']
519,62,Tranquill,50,42,65,normal,flying,5,['Big Pecks','Super Luck','Rivalry']
520,80,Unfezant,65,55,93,normal,flying,5,['Big Pecks','Super Luck','Rivalry']
521,45,Blitzle,50,32,76,electric,NaN,5,['Lightningrod','Motor Drive','Sap Sipper']
522,75,Zebstrika,80,63,116,electric,NaN,5,['Lightningrod','Motor Drive','Sap Sipper']
523,55,Roggenrola,25,25,15,rock,NaN,5,['Sturdy','Weak Armor','Sand Force']
524,70,Boldore,50,40,20,rock,NaN,5,['Sturdy','Weak Armor','Sand Force']
525,85,Gigalith,60,80,25,rock,NaN,5,['Sturdy','Sand Stream','Sand Force']
526,65,Woobat,55,43,72,psychic,flying,5,['Unaware','Klutz','Simple']
527,67,Swoobat,77,55,114,psychic,flying,5,['Unaware','Klutz','Simple']
528,60,Drilbur,30,45,68,ground,NaN,5,['Sand Rush','Sand Force','Mold Breaker']
529,110,Excadrill,50,65,88,ground,steel,5,['Sand Rush','Sand Force','Mold Breaker']
530,103,Audino,80,126,50,normal,NaN,5,['Healer','Regenerator','Klutz']
531,75,Timburr,25,35,35,fighting,NaN,5,['Guts','Sheer Force','Iron Fist']
532,85,Gurdurr,40,50,40,fighting,NaN,5,['Guts','Sheer Force','Iron Fist']
533,105,Conkeldurr,55,65,45,fighting,NaN,5,['Guts','Sheer Force','Iron Fist']
534,50,Tympole,50,40,64,water,NaN,5,['Swift Swim','Hydration','Water Absorb']
535,75,Palpitoad,65,55,69,water,ground,5,['Swift Swim','Hydration','Water Absorb']
536,105,Seismitoad,85,75,74,water,ground,5,['Swift Swim','Poison Touch','Water Absorb']

4. Вивести значення стовбців з по generation по speed.

In [20]:
pokemon.iloc[0:, 4:8]

     speed    type1   type2  generation
485    100   normal     NaN           4
486     90    ghost  dragon           4
487     85  psychic     NaN           4
488     80    water     NaN           4
489    100    water     NaN           4
..     ...      ...     ...         ...
713     55   flying  dragon           6
714    123   flying  dragon           6
715     99    fairy     NaN           6
716     99     dark  flying           6
717     85   dragon  ground           6

[233 rows x 4 columns]

5. Вивести значення стовбця name у алфавітному порядку для парних
варіантів студентів та у зворотному порядку для непарних варіантів
студентів.

In [21]:
pokemon_s = pokemon.sort_values(by='name', ascending=False)
pokemon_s

,hp,name,sp_attack,sp_defense,speed,type1,type2,generation,abilities1,abilities2,abilities3
717,216,Zygarde,91,95,85,dragon,ground,6,['Aura Break','Power Construct'],None
633,72,Zweilous,65,70,58,dark,dragon,5,['Hustle'],None,None
569,40,Zorua,80,40,65,dark,NaN,5,['Illusion'],None,None
570,60,Zoroark,120,60,105,dark,NaN,5,['Illusion'],None,None
643,100,Zekrom,120,100,90,dragon,electric,5,['Teravolt'],None,None
...,...,...,...,...,...,...,...,...,...,...,...
590,114,Amoonguss,85,80,30,grass,poison,5,['Effect Spore','Regenerator'],None
697,77,Amaura,67,63,46,rock,ice,6,['Refrigerate','Snow Warning'],None
593,165,Alomomola,40,45,65,water,NaN,5,['Healer','Hydration','Regenerator']
680,60,Aegislash,150,50,60,steel,ghost,6,['Stance Change'],None,None
616,80,Accelgor,100,60,145,bug,NaN,5,['Hydration','Sticky Hold','Unburden']

6. Вивести інформацію про покемонів, у яких значення hp більше ніж М1.

In [22]:
mask = (pokemon['hp'] > 10)
pokemon[mask]

,hp,name,sp_attack,sp_defense,speed,type1,type2,generation,abilities1,abilities2,abilities3
485,110,Regigigas,80,110,100,normal,NaN,4,['Slow Start'],None,None
486,150,Giratina,120,100,90,ghost,dragon,4,['Pressure','Telepathy','Levitate']
487,120,Cresselia,75,130,85,psychic,NaN,4,['Levitate'],None,None
488,80,Phione,80,80,80,water,NaN,4,['Hydration'],None,None
489,100,Manaphy,100,100,100,water,NaN,4,['Hydration'],None,None
...,...,...,...,...,...,...,...,...,...,...,...
713,40,Noibat,45,40,55,flying,dragon,6,['Frisk','Infiltrator','Telepathy']
714,85,Noivern,97,80,123,flying,dragon,6,['Frisk','Infiltrator','Telepathy']
715,126,Xerneas,131,98,99,fairy,NaN,6,['Fairy Aura'],None,None
716,126,Yveltal,131,98,99,dark,flying,6,['Dark Aura'],None,None
717,216,Zygarde,91,95,85,dragon,ground,6,['Aura Break','Power Construct'],None

7. Вивести інформацію про покемонів, у яких значення speed більше ніж
М2, а значення type1 дорівнює «grass» для парних варіантів студентів
або «bug» для непарних варіантів студентів, а значення type2 дорівнює
«poison» для непарних варіантів студентів або «steel» для парних
варіантів студентів.

In [23]:
pokemon = pd.read_csv('pokemon.csv', usecols=cols)

p_filter = pokemon[
    (pokemon['speed'] > 46) &
    (pokemon['type1'] == 'bug') &
    (pokemon['type2'] == 'steel')
]
p_filter

,abilities,hp,name,sp_attack,sp_defense,speed,type1,type2,generation
211,"['Swarm', 'Technician', 'Light Metal']",70,Scizor,65,100,75,bug,steel,2
631,"['Swarm', 'Hustle', 'Truant']",58,Durant,48,48,109,bug,steel,5
648,['Download'],71,Genesect,120,95,99,bug,steel,5

8. Використовуючи індексатор loc вибрати та вивести значення стовбців
name, generation, в відповідних строках яких значення стовбця sp_attack
більше 30 (для парних варіантів студентів) або менше 30 (для не парних
варіантів студентів ), а значення стовбця sp_defense більше 50 (для не
парних варіантів студентів) або більше 80 (для парних варіантів
студентів )

In [30]:
pokemon = pd.read_csv('pokemon.csv', usecols=cols)

p_filter = pokemon.loc[
    (pokemon['sp_attack'] < 30) &
    (pokemon['sp_defense'] > 50),
    ['name', 'generation']
]
p_filter

          name  generation
14    Beedrill           1
27   Sandslash           1
212    Shuckle           2
348     Feebas           3
435    Bronzor           4
439    Happiny           4
596  Ferroseed           5
789    Cosmoem           7