1. № вар - 3
2. Діапазон (від) - 717
3. Діапазон (до, включаючи) - 485
4. N1 - 5
5. N2 - 52
6. M1 - 10
7. M2 - 46

# Завдання 1

1. Створіть та виведіть Series (ds1) з 15 елементів на основі списку: [“Bob”, “Emma”, “Joe”, “Lili”...], використовуючи Pandas-модуль.

In [30]:
import pandas as pd
import numpy as np

In [31]:

ds1 = ["Bob", "Emma", "Joe", "Lili", "Bibi",
       "Bob1", "Emma1", "Joe1", "Lili1", "Bibi1",
       "Bob2", "Emma2", "Joe2", "Lili2", "Bibi2" ]

ser = pd.Series(ds1)
ser

0       Bob
1      Emma
2       Joe
3      Lili
4      Bibi
5      Bob1
6     Emma1
7      Joe1
8     Lili1
9     Bibi1
10     Bob2
11    Emma2
12     Joe2
13    Lili2
14    Bibi2
dtype: object

2. Перевірте та виведіть його тип.

In [32]:
print(ser.dtype)

object

3. Вивести окремо значення Series та набір індексів.

In [33]:
ser.index

RangeIndex(start=0, stop=15, step=1)

In [34]:
ser.values

array(['Bob', 'Emma', 'Joe', 'Lili', 'Bibi', 'Bob1', 'Emma1', 'Joe1',
       'Lili1', 'Bibi1', 'Bob2', 'Emma2', 'Joe2', 'Lili2', 'Bibi2'],
      dtype=object)

4. Вивести 2 перші рядки ds1

In [35]:
print(ser[:2])

0     Bob
1    Emma
dtype: object

5. Вивести непарні рядки ds1 у діапазоні з 3 по 9 рядок.

In [36]:
print(ser[3:10:2])

3     Lili
5     Bob1
7     Joe1
9    Bibi1
dtype: object

6. Перетворити словник (створити попередньо згідно з рис.) custom_info
(зберігає інформацію про тривалість дзвінків клієнта в роумінгу) у Series:

In [37]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May']
duration = [125, 234, 13, 356, 87]
custom_info = pd.Series(duration, index=months)
custom_info

Jan    125
Feb    234
Mar     13
Apr    356
May     87
dtype: int64

7. Використовуючи позначки індексу, виведіть (одним оператором) всі
тривалості розмов у весняні місяці.

In [38]:
custom_info.loc[['Mar', 'Apr', 'May']]

Mar     13
Apr    356
May     87
dtype: int64

8. Припустимо, що ви отримали наступний список із назвами місяців
m_names=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'].

In [39]:
m_names=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']

Створіть pd.Series custom_info_new, базуючись на наборі даних custom_info та
списку m_names (для позначок індексів).

In [41]:
custom_info_new = custom_info.reindex(m_names)
custom_info_new

Jan    125.0
Feb    234.0
Mar     13.0
Apr    356.0
May     87.0
Jun      NaN
Jul      NaN
dtype: float64

9. Виявіть пропущені дані (missing values) у custom_info_new.

10.Ведіть дані з березня до травня, використовуючи зрізи.

11.Введіть рядки (з custom_info_new), де тривалість дзвінка <100.

12.Помножити дані із тривалістю дзвінка <200 на 5.

# Завдання 2

Використовуючи відповідні методи об’єктів Series та DataFrame
бібліотеки Pandas реалізувати завдання:

Файл “pokemon.csv” зберігає дані про 7 поколінь всіх 802 покемонів.
Детальна інформація про даний Dataset доступна за посиланням
https://www.kaggle.com/rounakbanik/pokemon/home

1. Використовуючи функцію pd.read_csv прочитати з файлу відповідну
частину стовбців name, generation, type1, type2, hp, speed, sp_attack,
sp_defense (діапазон строк задається по варіанту студента, див. Додаток
A) у DataFrame pokemon. Стовбець abilities перетворити у 2 стовбця
abilities1, abilities2, розподілити значення відповідно.

2. Вивести індекси та мітки стовбців з утвореного у п.1. DataFrame
pokemon.

3. Вивести значення строк з N1 по N2 відповідно варіанту завдання (див.
Додаток A).

4. Вивести значення стовбців з по generation по speed.

5. Вивести значення стовбця name у алфавітному порядку для парних
варіантів студентів та у зворотному порядку для непарних варіантів
студентів.

6. Вивести інформацію про покемонів, у яких значення hp більше ніж М1.

7. Вивести інформацію про покемонів, у яких значення speed більше ніж
М2, а значення type1 дорівнює «grass» для парних варіантів студентів
або «bug» для непарних варіантів студентів, а значення type2 дорівнює
«poison» для непарних варіантів студентів або «steel» для парних
варіантів студентів.

8. Використовуючи індексатор loc вибрати та вивести значення стовбців
name, generation, в відповідних строках яких значення стовбця sp_attack
більше 30 (для парних варіантів студентів) або менше 30 (для не парних
варіантів студентів ), а значення стовбця sp_defense більше 50 (для не
парних варіантів студентів) або більше 80 (для парних варіантів
студентів )