In [19]:
import pandas as pd

1. Завантажити дані з файлів csv (World_Happiness_Data.csv) у фрейм даних.

In [20]:
df = pd.read_csv('World_Happiness_Data.csv')

2. Вивести перші 10 пунктів.

In [21]:
df.head(10)

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,0,Afghanistan,Southern Asia,153.0,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,2015
1,1,Albania,Central and Eastern Europe,95.0,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894,2015
2,2,Algeria,Middle East and Northern Africa,68.0,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209,2015
3,3,Angola,Sub-Saharan Africa,137.0,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939,2015
4,4,Argentina,Latin America and Caribbean,30.0,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600,2015
5,5,Armenia,Central and Eastern Europe,127.0,4.350,0.76821,0.77711,0.72990,0.19847,0.03900,0.07855,1.75873,2015
6,6,Australia,Australia and New Zealand,10.0,7.284,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,2015
7,7,Austria,Western Europe,13.0,7.200,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320,2015
8,8,Azerbaijan,Central and Eastern Europe,80.0,5.212,1.02389,0.93793,0.64045,0.37030,0.16065,0.07799,2.00073,2015
9,9,Bahrain,Middle East and Northern Africa,49.0,5.960,1.32376,1.21624,0.74716,0.45492,0.30600,0.17362,1.73797,2015

3. Відсортувати дані за зростанням за «роками» і за спаданням за «показниками
щастя».

In [22]:
df = df.sort_values(by=['Year', 'Happiness Score'], ascending=[True, False])
df.head()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
141,141,Switzerland,Western Europe,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
60,60,Iceland,Western Europe,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
38,38,Denmark,Western Europe,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
108,108,Norway,Western Europe,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
25,25,Canada,North America,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

4. Переглянути дані за допомогою info.

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 495 entries, 141 to 473
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     495 non-null    int64
 1   Country                        495 non-null    object
 2   Region                         495 non-null    object
 3   Happiness Rank                 470 non-null    float64
 4   Happiness Score                470 non-null    float64
 5   Economy (GDP per Capita)       470 non-null    float64
 6   Family                         470 non-null    float64
 7   Health (Life Expectancy)       470 non-null    float64
 8   Freedom                        470 non-null    float64
 9   Trust (Government Corruption)  470 non-null    float64
 10  Generosity                     470 non-null    float64
 11  Dystopia Residual              470 non-null    float64
 12  Year                           495 non-null    int64
dtypes: float64(9), int64(2), object(2)
memory usage: 54.1+ KB

5. Вивести описову статистику набору даних.

In [24]:
df.describe()

,Unnamed: 0,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
count,495.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,495.000000
mean,247.000000,78.829787,5.370728,0.928234,0.990772,0.579968,0.402828,0.134790,0.242241,2.093121,2016.000000
std,143.038456,45.281408,1.136998,0.415755,0.318855,0.240161,0.150356,0.111313,0.131543,0.566494,0.817323
min,0.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,2015.000000
25%,123.500000,40.000000,4.509000,0.605292,0.793000,0.402301,0.297615,0.059777,0.152831,1.737975,2015.000000
50%,247.000000,79.000000,5.282500,0.995439,1.027690,0.630053,0.418347,0.099502,0.223140,2.094640,2016.000000
75%,370.500000,118.000000,6.233750,1.252443,1.228745,0.768298,0.516850,0.173161,0.315824,2.455575,2017.000000
max,494.000000,158.000000,7.587000,1.870766,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,2017.000000

6. Чи є пропущені значення? Де? Скільки?

In [25]:
df.isnull().sum()

Unnamed: 0                        0
Country                           0
Region                            0
Happiness Rank                   25
Happiness Score                  25
Economy (GDP per Capita)         25
Family                           25
Health (Life Expectancy)         25
Freedom                          25
Trust (Government Corruption)    25
Generosity                       25
Dystopia Residual                25
Year                              0
dtype: int64

7. Створити зведену таблицю, щоб класифікувати дані за «роком», і вивести
середні значення показника щастя для кожного року.

In [26]:
pivotY = pd.pivot_table(
    df,
    index='Year',
    values='Happiness Score',
    aggfunc='mean'
)
print(pivotY)

      Happiness Score
Year
2015         5.375734
2016         5.382185
2017         5.354019

8. Повторити попередній крок для стовпця «Регіон».

In [27]:
pivotR = pd.pivot_table(
    df,
    index='Region',
    values='Happiness Score',
    aggfunc='mean'
)
print(pivotR)

                                 Happiness Score
Region
Australia and New Zealand               7.302500
Central and Eastern Europe              5.371184
Eastern Asia                            5.632333
Latin America and Caribbean             6.069074
Middle East and Northern Africa         5.387879
North America                           7.227167
Southeastern Asia                       5.364077
Southern Asia                           4.590857
Sub-Saharan Africa                      4.150957
Western Europe                          6.693000

9. Вивести середні значення показника щастя для кожного року та регіону (у 1 зведеній таблиці).

In [28]:
pivotRY = pd.pivot_table(
    df,
    index=['Region','Year'],
    values='Happiness Score',
    aggfunc='mean'
)
print(pivotRY)

                                      Happiness Score
Region                          Year
Australia and New Zealand       2015         7.285000
                                2016         7.323500
                                2017         7.299000
Central and Eastern Europe      2015         5.332931
                                2016         5.370690
                                2017         5.409931
Eastern Asia                    2015         5.626167
                                2016         5.624167
                                2017         5.646667
Latin America and Caribbean     2015         6.144682
                                2016         6.101750
                                2017         5.957818
Middle East and Northern Africa 2015         5.406900
                                2016         5.386053
                                2017         5.369684
North America                   2015         7.273000
                                2016         7.254000
                                2017         7.154500
Southeastern Asia               2015         5.317444
                                2016         5.338889
                                2017         5.444875
Southern Asia                   2015         4.580857
                                2016         4.563286
                                2017         4.628429
Sub-Saharan Africa              2015         4.202800
                                2016         4.136421
                                2017         4.111949
Western Europe                  2015         6.689619
                                2016         6.685667
                                2017         6.703714

10. Змінити попереднє рішення для отримання такого результату

In [31]:
pivotRY = pd.pivot_table(
    df,
    values='Happiness Score',
    index='Region',
    columns='Year',
    aggfunc='mean'
)
pivotRY

Year                                 2015      2016      2017
Region
Australia and New Zealand        7.285000  7.323500  7.299000
Central and Eastern Europe       5.332931  5.370690  5.409931
Eastern Asia                     5.626167  5.624167  5.646667
Latin America and Caribbean      6.144682  6.101750  5.957818
Middle East and Northern Africa  5.406900  5.386053  5.369684
North America                    7.273000  7.254000  7.154500
Southeastern Asia                5.317444  5.338889  5.444875
Southern Asia                    4.580857  4.563286  4.628429
Sub-Saharan Africa               4.202800  4.136421  4.111949
Western Europe                   6.689619  6.685667  6.703714

11. Створити зведену таблицю на основі регіону, щоб отримати такий
результат

In [37]:
pivotR = pd.pivot_table(
    df,
    values='Happiness Score',
    index='Region',
    aggfunc=['mean', 'median', 'min', 'max', 'std'],
)
pivotR

,mean,median,min,max,std
,Happiness Score,Happiness Score,Happiness Score,Happiness Score,Happiness Score
Region,,,,,
Australia and New Zealand,7.302500,7.2995,7.284,7.334,0.020936
Central and Eastern Europe,5.371184,5.4010,4.096,6.609,0.578274
Eastern Asia,5.632333,5.6545,4.874,6.422,0.502100
Latin America and Caribbean,6.069074,6.1265,3.603,7.226,0.728157
Middle East and Northern Africa,5.387879,5.3175,3.006,7.278,1.031656
North America,7.227167,7.2175,6.993,7.427,0.179331
Southeastern Asia,5.364077,5.2965,3.819,6.798,0.882637
Southern Asia,4.590857,4.6080,3.360,5.269,0.535978
Sub-Saharan Africa,4.150957,4.1390,2.693,5.648,0.584945
Western Europe,6.693000,6.9070,4.857,7.587,0.777886

12. Змінити попереднє рішення для отримання такого результату:

In [38]:
pivotR = pd.pivot_table(
    df,
    values='Happiness Score',
    index='Region',
    aggfunc=['mean', 'median', 'min', 'max', 'std'],
    columns='Year'
)
pivotR

                                     mean                     median          \
Year                                 2015      2016      2017   2015    2016
Region
Australia and New Zealand        7.285000  7.323500  7.299000  7.285  7.3235
Central and Eastern Europe       5.332931  5.370690  5.409931  5.286  5.4880
Eastern Asia                     5.626167  5.624167  5.646667  5.729  5.6465
Latin America and Caribbean      6.144682  6.101750  5.957818  6.149  6.1260
Middle East and Northern Africa  5.406900  5.386053  5.369684  5.262  5.3030
North America                    7.273000  7.254000  7.154500  7.273  7.2540
Southeastern Asia                5.317444  5.338889  5.444875  5.360  5.2790
Southern Asia                    4.580857  4.563286  4.628429  4.565  4.6430
Sub-Saharan Africa               4.202800  4.136421  4.111949  4.272  4.1300
Western Europe                   6.689619  6.685667  6.703714  6.937  6.9070

                                           min                  max         \
Year                               2017   2015   2016   2017   2015   2016
Region
Australia and New Zealand        7.2990  7.284  7.313  7.284  7.286  7.334
Central and Eastern Europe       5.3950  4.218  4.217  4.096  6.505  6.596
Eastern Asia                     5.6550  4.874  4.907  4.955  6.298  6.379
Latin America and Caribbean      6.0395  4.518  4.028  3.603  7.226  7.087
Middle East and Northern Africa  5.3360  3.006  3.069  3.462  7.278  7.267
North America                    7.1545  7.119  7.104  6.993  7.427  7.404
Southeastern Asia                5.3460  3.819  3.907  4.168  6.798  6.739
Southern Asia                    4.6080  3.575  3.360  3.794  5.253  5.196
Sub-Saharan Africa               4.1200  2.839  2.905  2.693  5.477  5.648
Western Europe                   6.8910  4.857  5.033  5.195  7.587  7.526

                                             std
Year                              2017      2015      2016      2017
Region
Australia and New Zealand        7.314  0.001414  0.014849  0.021213
Central and Eastern Europe       6.609  0.570446  0.590395  0.591644
Eastern Asia                     6.422  0.554053  0.526885  0.521728
Latin America and Caribbean      7.079  0.728560  0.725680  0.750925
Middle East and Northern Africa  7.213  1.101382  1.057559  0.985246
North America                    7.316  0.217789  0.212132  0.228395
Southeastern Asia                6.572  0.950020  0.930686  0.865941
Southern Asia                    5.269  0.570526  0.616190  0.499732
Sub-Saharan Africa               5.629  0.609557  0.558494  0.595688
Western Europe                   7.537  0.824582  0.789190  0.756891

13. Створіть зведену таблицю на основі регіону, щоб вивести максимальне
значення рангу щастя та середнього показника щастя для кожного регіону та
року (використовуйте відображення у словнику стовпця)

In [41]:
pivotR = pd.pivot_table(
    df,
    values=['Happiness Rank','Happiness Score'],
    index='Region',
    aggfunc='max',
    columns='Year'
)
pivotR

                                Happiness Rank               Happiness Score  \
Year                                      2015   2016   2017            2015
Region
Australia and New Zealand                 10.0    9.0   10.0           7.286
Central and Eastern Europe               134.0  129.0  132.0           6.505
Eastern Asia                             100.0  101.0  100.0           6.298
Latin America and Caribbean              119.0  136.0  145.0           7.226
Middle East and Northern Africa          156.0  156.0  152.0           7.278
North America                             15.0   13.0   14.0           7.427
Southeastern Asia                        145.0  140.0  129.0           6.798
Southern Asia                            153.0  154.0  141.0           5.253
Sub-Saharan Africa                       158.0  157.0  155.0           5.477
Western Europe                           102.0   99.0   89.0           7.587


Year                              2016   2017
Region
Australia and New Zealand        7.334  7.314
Central and Eastern Europe       6.596  6.609
Eastern Asia                     6.379  6.422
Latin America and Caribbean      7.087  7.079
Middle East and Northern Africa  7.267  7.213
North America                    7.404  7.316
Southeastern Asia                6.739  6.572
Southern Asia                    5.196  5.269
Sub-Saharan Africa               5.648  5.629
Western Europe                   7.526  7.537